/* Basic Style */
* {
  box-sizing: border-box;
}

.page {
  font-family: "Lato", sans-serif;
  color: #333;

  background-color: #f8f8f8;
}

ul {
  margin: 0;
  padding: 0px;
}

li {
  list-style: none;
}

input,
button {
  outline: none;
}

.btn {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #888;

  width: 60px;

  background: none;
  border: 0px;
  cursor: pointer;
}

.btn:hover {
  color: #3a3A3a;
}

.input-text {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 1;
  color: #888;

  height: 21px;
  padding: 0 9px;
  margin: 0;

  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
}

.input-text:focus {
  color: #333;
}

/* Heading */
.section__title {
  padding: 30px 0 10px;
  margin: 0 0 20px;

  display: block;

  font-size: 15px;
  font-weight: 700;
  color: #333;

  border-bottom: 2px solid #333;
  text-transform: uppercase;
}

.matrix {
  width: 500px;
  margin: 0 auto;

  display: block;
  text-align: right;
}

.matrix__img {
  width: 100%;
}

.matrix__link {
  font-family: "fantasy", cursive;
}

@media (max-width:768px) {
  .matrix {
    text-align: center;
  }
}

.content {
  width: 500px;
  margin: 0 auto 0;

  display: block;
}

/* Task list */
.task__create {
  display: flex;
}

.task {
  overflow: hidden;
  padding: 20px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #eee;
}

.task__checkbox {
  margin: 0 10px;
}

.task__title,
.task__input {
  width: 56%;

  display: inline-block;
  flex-grow: 1;
}

.task__title {
  width: 226px;
  padding-left: 10px;

  font-size: 18px;
}

.task__input {
  width: 226px;

  display: none;
}

.task__input_new {
  display: block;
}

.remove-icon {
  height: 2em;

  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.remove-icon:hover {
  transform: rotateZ(0);
}

/* Completed */
.task__title_line-through {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task__input_show {
  width: 224px;

  display: inline-block;
}

.task__title_hide {
  display: none;
}